@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 2rem;
  background-color: #d9afd9;
  background-image: linear-gradient(90deg, #d9afd9 30%, #97d9e1 100%);
  font-family: 'Shantell Sans', cursive;
}

header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.current-scores {
  width: 40%;
}

.add-scores {
  width: 40%;
}

.add-scores input {
  margin-top: 2rem;
  padding: 15px 10px;
  width: 60%;
  border: none;
  border-radius: 30px;
  background-color: #e7d6e7;
}

#submit {
  margin-top: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 0.4s ease-in;
  font-family: 'Shantell Sans', cursive;
}

#submit:hover {
  background-color: #d9afd9;
}

.current-scores-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul {
  margin-top: 2rem;
}

li {
  font-size: 20px;
  padding: 10px 10px;
}

li:nth-child(even) {
  background-color: #d1eef1;
  border-radius: 30px;
}

.refreshbtn {
  padding: 10px 20px;
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 0.4s ease-in;
}

.refreshbtn:hover {
  background-color: #d9afd9;
}

form {
  margin-top: 3rem;
  font-family: 'Shantell Sans', cursive;
}
