* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 2rem;
}

header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

main {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.current-scores {
  width: 40%;
}

.add-scores {
  width: 40%;
}

.add-scores input {
  margin-top: 2rem;
  padding: 4px 10px;
  width: 60%;
}

#submit {
  margin-top: 2rem;
  padding: 4px 15px;
}

.current-scores-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 2px 15px;
}

ul {
  border: 2px solid black;
  margin-top: 2rem;
}

li {
  font-size: 20px;
  padding: 10px 10px;
}

li:nth-child(even) {
  background-color: rgb(226, 226, 226);
}
